<% @hide_footer_frames = true %>

<div data-controller="popup-window">
  <p>You have already setup your Basecamp integration</p>

  <button class="btn" data-action="popup-window#close">Ok</button>
</div>
