<% bubble.tags.each do |tag| %>
  <%= link_to bubbles_path(@filter.to_params.merge(tag_ids: [ tag.id ])),
        class: "bubble__tag btn btn--plain fill-transparent min-width", style: "color: #{bubble.color}", data: { turbo_frame: "_top" } do %>
    <span class="overflow-ellipsis"><%= tag.hashtag %></span>
  <% end %>
<% end %>
