servers:
  web:
    hosts:
      - fizzy-beta-app-01.sc-chi-int.37signals.com
      - fizzy-beta-app-101.df-iad-int.37signals.com
    labels:
      otel_scrape_enabled: true
  jobs:
    hosts:
      - fizzy-beta-app-01.sc-chi-int.37signals.com
    labels:
      otel_scrape_enabled: true

proxy:
  ssl: false

ssh:
  user: app

env:
  clear:
    RAILS_ENV: beta

accessories:
  beamer:
    image: basecamp/beamer:zones
    registry:
      server: registry.37signals.com
      username: robot$harbor-bot
      password:
        - BASECAMP_REGISTRY_PASSWORD
    labels:
      otel_role: beamer
      otel_service: fizzy-beamer
      otel_scrape_enabled: true
    options:
      user: 1000 # Match the UID of the Rails app, for volume permissions
      publish:
        - 5001:5001
        - 9000:9000
    volumes:
      - fizzy:/home/beamer
    cmd: beamer run --retention=1h --metrics-port=9000
    hosts:
      - fizzy-beta-app-01.sc-chi-int.37signals.com
      - fizzy-beta-app-101.df-iad-int.37signals.com

  load-balancer:
    image: basecamp/kamal-proxy:lb
    host: fizzy-beta-lb-01.sc-chi-int.37signals.com
    options:
      publish:
        - 80:80
        - 443:443
    volumes:
      - load-balancer:/home/kamal-proxy/.config/kamal-proxy
