servers:
  web:
    hosts:
      - fizzy.37signals.works
  jobs:
    hosts:
      - fizzy.37signals.works

proxy:
  hosts:
    - fizzy.37signals.works # will return a 404 for now
    - 37s.fizzy.37signals.works
    - dev.fizzy.37signals.works
    - qa.fizzy.37signals.works
