servers:
  web:
    hosts:
      - cph-mf4-app-100
  jobs:
    hosts:
      - cph-mf4-app-100
  web-replica:
    hosts:
      - cph-mf4-app-201
    proxy: true

env:
  clear:
    ARTENANT: test

proxy:
  ssl: false

registry:
  server: cph-mf4-registry-200.tail32f559.ts.net
  username: unauthenticated
  password: unauthenticated

x-beamer-accessory: &beamer-accessory
  image: basecamp/beamer
  options:
    user: 1000 # Match the UID of the Rails app, for volume permissions
  volumes:
    - fizzy:/storage

accessories:
  beamer-primary:
    <<: *beamer-accessory
    service: beamer-primary
    cmd: beamer primary --remove-after=1h --dir=/storage
    port: 5000:80
    roles:
      - web

  beamer-replica:
    <<: *beamer-accessory
    service: beamer-replica
    cmd: beamer replica --primary=http://cph-app-101:5000/ --dir=/storage
    roles:
      - web-replica

  load-balancer:
    host: cph-mf4-lb-203
    image: basecamp/kamal-proxy:lb
    options:
      publish:
        - 80:80
        - 443:443
