@layer components {
  .events {
    --events-gap: 1ch;
    --events-border: 1px solid var(--color-ink-lighter)
  }

  /* Day
  /* ------------------------------------------------------------------------ */

  .events__day {
    align-items: end;
    column-gap: var(--events-gap);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block-end: var(--events-gap);
    position: relative;
  }

  .events__day-header {
    background-color: gold;
    grid-column: 1 / -1;
    inset-block-start: 0;
    padding-block-start: 0.5ch;
    position: sticky;

    &:before {
      content: "";
      border-block-start: var(--events-border);
      position: absolute;
      inset: 50% 0 auto 0;
      translate: 0 -50%;
      z-index: -1;
    }
  }

  .events__day-header-content {
    background-color: var(--color-ink-lighter);
    border-radius: 0.2em;
    display: block;
    font-size: var(--text-small);
    inline-size: fit-content;
    line-height: 1.5;
    margin-inline: auto;
    padding: 0.2em 1.3em;
    text-align: center;
    text-transform: uppercase;
  }

  .events__column {
    display: contents;
  }

  .events__column-header {
    background: tomato;
    grid-row-start: 2;
    position: sticky;
    inset-block-start: 1lh;
  }

  .events__time-block {
    align-content: end;
    display: grid;
    gap: var(--events-gap);
    justify-items: center;
    padding: 0;
    margin: 0;
    /* margin: var(--grid-lines) var(--grid-lines) calc(var(--grid-lines) * 6) var(--grid-lines);
    padding: var(--block-space) var(--inline-space-double); */

    .event {
      grid-column-start: unset !important;
      grid-row-start: unset !important;
    }
  }

  .events__none {
    background-color: var(--color-canvas);
    border-block-start: var(--events-border);
    grid-column: 1 / -1;
    padding-block: 3em;
    text-align: center;
  }

  /* Column
  /* ------------------------------------------------------------------------ */











  .events__container {
    --column-gap: clamp(var(--inline-space), 3cqmin, calc(var(--inline-space) * 3));
    --grid-lines: 1px;

    margin: auto;
    max-inline-size: min(105ch, 100%);
  }


  .events__filter-btn {
    font-weight: 500;
    inline-size: auto;
    margin: auto;
  }

  .events__index {
    --row-gap: var(--block-space);
  }

  .events__index-header {
    h2  {
      font-weight: 900;
    }
  }

  .events__popup {
    margin-block-start: var(--block-space-double);
  }

  .event {
    --column-gap: 0.7ch;
    --panel-border-color: transparent;
    --panel-border-radius: 0.2em;
    --panel-padding: 0.6em 1.2em 0.6em 0.6em;
    --panel-size: auto;

    margin: var(--inline-space);
    position: relative;
    z-index: 1;
  }

  .event--related {
    --hover-color: var(--card-color);
    --hover-size: 0.15rem;

    box-shadow: 0 0 0 var(--hover-size) var(--hover-color);
    z-index: 2;
  }

  .event__collection {
    font-size: var(--text-x-small);
    font-weight: 500;
    opacity: 0.66;
  }

  .event__grid-item {
    background-color: var(--color-canvas);
    block-size: 100%;
    border-radius: 0;
    display: flex;
    inline-size: 100%;
  }

  .event__grid-column-title {
    --z: 3;

    background-color: var(--color-canvas);
    font-size: 0.9em;
    padding: 1.5em 0 1em;
    text-transform: uppercase;
  }

  .event__timestamp {
    align-self: start;
    display: grid;
    font-weight: 600;
    margin-block-end: var(--block-space-half);
  }

  .event__title {
    --lines: 4;

    font-size: 1.1em;
    line-height: 1.2;
  }

  .event__icon {
    aspect-ratio: 1;
    background-color: var(--card-color);
    block-size: 1.7em;
    border-radius: 1.7em;
    inline-size: 1.7em;
    display: grid;
    place-content: center;
    margin-inline-end: -0.75em;

    .icon {
      block-size: 1.1em;
      inline-size: 1.1em;
      grid-area: 1 / 1;
    }
  }
}
