<% @hide_footer_frames = true %>

<div data-controller="popup-window">
  <p>Your accounts are now linked!</p>
  <p>From now on, any Basecamp link you paste in will get a preview.</p>

  <button class="btn" data-action="popup-window#close">Got it!</button>
</div>
